.poke-cell {
  width: 120px;
  height: 120px;
  margin: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2);
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
